@import './partials/setup.scss';
@import './partials/utils';
@import './partials/hovers';

html {
    font-size: 62.5%;
}

body {
    font-family: $mainFont;
    line-height: 1.5;
    font-size: 1.6rem;
    font-weight: 500;
    overflow-x: hidden
}

.navSocial {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 15px;

    li {
        margin: 0;
        padding: 10px;
        font-size: 2rem;
        z-index: 1000;
        
        i {
            color: $accent;
        }
    }
}

p {
    font-weight: 400;
}

img {
    width: 100%;
}

h2 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 15px;
}

.hamburger, .exit-responsive {
	display: none;
}

.show.menu {
	display: block;
}

h2:after {
    content: '';
    display: block;
    height: 20px;
    background-image: url('/src/assets/line_90.png');
    background-repeat: no-repeat;
    background-position: 50% center;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}

header {
    margin-top: 0;
    height: 100vh;
    background-image: url('/src/assets/header.png');
    background-position: 15% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    h2:after {
       background-image: none;
       display: inline-block;
    }
}


.typed {
    display: inline;
}

.headerInfo i {        
    font-size: 9rem;
    color: $accent;
    text-align: center;
    position: absolute;
    top: 100px;
}

.blackNav {
    color: black;
}

.typed{
    display: inline-block;
    color: $primary;
    margin-bottom: 15px;
}

.headerInfo {
    display: flex;
    flex-direction: column;

    h1, h2, h3, button {
        text-align: left;
        margin-bottom: 20px;
    }

    h1 {
        color: $primary;
        font-size: 5rem;
        span {
            color: $accent;
        }
    }

    h3 {
        color: $secondary;
    }

    
    button {
        font-weight: 500;
        border: 1px solid $accent;
    }
    
    a {
        width: 25%;
    }
}

ul {
    margin: 0;
    padding: 0;
}


li {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    li {
        margin: 25px;
    }
    a {
        color: white;
    }
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    background: black;
    border: none;
    text-transform: uppercase;
    color: $accent;
    padding: 15px;
    width: 250px;
}

.aboutMe {
    display: flex;
    height: calc(100vh + 10px);
    width: 100%;

    figure img {
        box-shadow: 10px 10px 2px $tertiary;
    }   

    .aboutMeContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        width: 80%;
        margin-left: 50px;

        .btn {
            margin-top: 25px;
            text-align: center;
            border: none;
            text-transform: uppercase;
        }

        p {
            line-height: 2;
        }
    }
}

.headshot {
    display: flex;
    align-items: center;

    figure {
        width: 100%;
        height: auto;
    }
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    height: 100vh;
    width: 100%;

    h2 {
        margin-bottom: 30px;
    }

    .skillsContent {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    
        i {
            font-size: 6rem;
        }

        span {
            font-weight: 600;
            color: $accent;
            text-align: left;
        }

        
        #html, #css, #javascript, #jquery, #react, #gulp, #github, #git, #sass {
            width: 33.33%;
            padding: 10px 0;
        }

        #html, #html span {
            color: #E24E30
        }

        #css, #css span {
            color: #1272B9;
        }

        #javascript, #javascript span {
            color: #F0DB4F;
        }

        #jquery, #jquery span {
            color: #0769AD;
        }

        #react, #react span {
            color: #67DAF9;
        }

        #gulp, #gulp span {
            color: #D8484C;
        }

        #github, #github span {
            color: black;
        }

        #git, #git span {
            color: #f1502f;
        }

        #sass, #sass span {
            color: #D275A5;
        }



        .cardInfo {
            font-size: 2rem;
        }

        .back {
            padding: 15px;
            width: 50px;
        }
    }
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-top: 50px;
    }

    .portfolioItem {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        height: 80vh;
        
        h3 {
            font-size: 3rem;
            margin-bottom: 5px;
        }
    }
}

.item {
    display: flex;
    flex-direction: column;
    width: 60%;

    &:nth-of-type(odd) {
        margin-right: 50px;
    }

    p {
        padding: 15px 0;
        text-align: justify;
    }

    p a {
        text-decoration: underline;
    }

    .itemSkills {
        display: flex;
        background-color: $tertiary;
        color: black;
        margin-bottom: 10px;
        border: 1px solid black;

        span {
            width: 100%;
            padding: 10px;
            font-weight: 400;
            text-align: center;
        }
    }

    .portfolioLinks {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;

        a {
            background-color: black;
            color: $accent;
            text-transform: uppercase;
            text-align: center;
            padding: 10px;
            margin-top: 10px;

            &:hover {
                transition: 0.2s all ease;
                background-color: $accent;
                color: black;
            }
        }
    }
}

.itemMockup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    
    img {
        flex: 1 0;
    }
}

#stumblegrumble {
    margin-left: 50px;
    margin-right: 0;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    i {

        &:hover {
            color: $accent;
            transition: 0.2s all ease;
        }
    }
}

.contactDetails {
    text-align: center;

    li {
        position: relative;
        display: inline-block;
    }
}
    .fa-li {
        position: relative;
        font-size: 1em;
    }

.sendMessage form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    label {
        width: 100%;
    }
    
    .contactMessage {
        height: 150px;
        width: 100%;
    }

    input, textarea {
        width: 55%;
        border: 1px solid black;
        background-color: $tertiary;
        padding: 10px;
        margin: 15px 0;
        outline: none;

        &:invalid {
            box-shadow: none;
        }

        &:focus {
            border-bottom: 2px solid $accent;
            border-top: none;
            border-right: none;
            border-left: none;
        }
    }

    input[type=text] {
        width: calc(50% - 20px);
    }

    #submit {
        border: none;
        background-color: black;
        width: 100%;
    }
}

footer {
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    span {
        display: flex;
        justify-content: center;
    }
}

footer i {
    color: black;

    &:hover {
        color: $accent;
        transition: 0.2s all ease;
    }
}

.social {
    display: flex;
    align-items: center;

    i {
        padding: 10px;
        font-size: 3rem;
    }
}

/////////////////////////// MEDIA QUERIES ///////////////////////////////////

@media(max-width: 1180px) {
    .wrapper {
        padding: 0 30px;
    }
    
    header {
        background-position: left 20%;

        h2:after {
            height: 5px;
        }
    }
}

@media(max-width: 880px) {
    .aboutMe {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 25px 0;

        .headshot {
            width: 30%;
        }
    }
}

@media(max-width: 630px) {
    header {
        background-position: left 20%;
    }

    .aboutMe {
        height: auto;
    }

    .skills {
        height: 100vh;
    }

    .hamburger, .exit-responsive {
        display: block;
        font-size: 2rem;
    }

    .menu {
        display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.99);
        color: white;
        z-index: 1;
        
    }
    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        a {
            font-size: 2rem;
            text-align: center;
            width: 100%;
            padding: 30px;
        }
    }

    nav i {
        position: fixed;
        top: 10px;
        right: 10px;
        font-size: 3rem;
        z-index: 1;
        color: $accent;
    }

    .headerInfo {
        padding: 10px;

        h1 {
            font-size: 4.5rem;
        }

        .btn {
            margin-top: 30px;
        }

        i {
            top: 125px;
        }
    }

    .portfolio .portfolioItem {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .item {
            align-items: center;

            p {
                width: 100%;
                margin-bottom: 10px;
            }

            .portfolioLinks button {
                width: 100px;
            }
        }
    }


    .itemMockup {
        width: 60%;
    }

    .sendMessage form input {
        margin-left: 30px;
        width: 75%;
    }
}


@media(max-width: 600px) {

    .aboutMe {
        flex-direction: column;
        align-items: center;
        
        .headshot {
            width: 30%;
            margin-bottom: 20px;
        }

        .aboutMeContent {
            width: 90%;
            margin-left: 0;
        }
    }

    .headerInfo i {
        top: 120px;
    }

    .skills {
        height: auto;

        .front i {
            font-size: 5rem;
        }
    }

    .portfolio .portfolioItem:nth-of-type(odd) {
        background-color: $primary;
        border: 1px solid $primary;
        border-radius: 25px;
        padding: 15px;


    }

    .itemMockup:nth-of-type(odd) {
        margin-top: 25px;
    }
}


@media(max-width: 520px) {
    .wrapper {
        padding: 0 7px;
    }
    .headerInfo i {
        top: 100px;
    }

    .aboutMe p {
        font-size: 1rem;
    }
}